/.bundle
/bin
/soloistrc
/doc
/tmp
/vendor/cookbooks
/vendor/bundle
/Cheffile.lock
/Berksfile.lock
.idea
.vagrant
.yardoc
/Gemfile.lock
/cookbooks
kitchenplan-attributes.json
/nodes
/solo.rb
/vendor/cache
